BTC_ADDRESS=
TARGET_HASHRATE=350000
TARIFF_BRL_PER_KWH=

WORKER_NAME=desktop
BATCH_SIZE=50000
POOL_HOST=public-pool.io
POOL_PORT=21496
SUGGEST_DIFFICULTY=1
RECONNECT_MAX_BACKOFF=60
CPU_TDP_WATTS=28
REFRESH_HZ=4
SHOW_PROGRESS_JOKE=true
LOG_LEVEL=INFO
LOG_FILE=/var/log/quixote/quixote.log
LOG_MAX_SIZE_MB=10
